#!/bin/bash

exec &> >( ts "[%Y.%m.%d %H:%M:%S|$(basename "$0" | awk -F. '{print $1}')]")

echo "==============================================="
echo "Updating DDNS for \"{{ duck_dns_domain }}.duckdns.org\" domain"

curl --silent "https://www.duckdns.org/update?domains={{ duck_dns_domain }}&token={{ duck_dns_token }}"
echo ""
echo "==============================================="
