network:
  version: 2
{% if networks.home is defined  %}
  ethernets:
    {{ networks.home.dev }}:
      match:
        macaddress: {{ networks.home.mac }}
      set-name: {{ networks.home.dev }}
      addresses: 
{% for address in networks.home.addresses %}
        - {{ address }}{{ network_settings.home.cidr }}
{% endfor %}
      nameservers:
        addresses:
          - {{ networks.home.dns | default(network_settings.home.dns) }}
        search:
          - {{ networks.home.domain | default(network_settings.home.domain) }}
      routes:
        - to: default
          via: {{ networks.home.gateway | default(network_settings.home.gateway) }}
{% endif %}
{% if networks.home_wifi is defined  %}
  wifis:
    {{ networks.home_wifi.dev }}:
      # TODO: Renaming the WiFi interface would be beneficial, but it's not currently supported.
      # Remember to update the name in `watchdog`.
      # ERROR: wlan0: networkd backend does not support wifi with match:, only by interface name
      # match:
      #   macaddress: {{ networks.home_wifi.mac }}
      # set-name: {{ networks.home_wifi.dev }}
      addresses: 
{% for address in networks.home_wifi.addresses %}
        - {{ address }}{{ network_settings.home_wifi.cidr }}
{% endfor %}
      access-points:
        {{ network_settings.home_wifi.ssid }}:
          password: {{ network_settings.home_wifi.password }}
      nameservers:
        addresses:
          - {{ networks.home_wifi.dns | default(network_settings.home_wifi.dns) }}
        search:
          - {{ networks.home_wifi.domain | default(network_settings.home_wifi.domain) }}
      routes:
        - to: default
          via: {{ networks.home_wifi.gateway | default(network_settings.home_wifi.gateway) }}
{% endif %}
{% if networks.cloud is defined  %}
  ethernets:
    {{ networks.cloud.dev }}:
      match:
        macaddress: "{{ networks.cloud.mac }}"
      dhcp4: {{ networks.cloud.dhcp | lower }}
      set-name: {{ networks.cloud.dev }}
{% endif %}
