[Interface]
PrivateKey = {{ networks.vpn.private_key }}
Address = {{ networks.vpn.address }}/32
DNS = {{ network_settings.vpn.dns }}, {{ network_settings.home.domain }}

[Peer]
PublicKey = {{ network_settings.vpn.public_key }}
AllowedIPs = {{ network_settings.home.subnet }}, {{ network_settings.vpn.subnet }}, 10.0.1.0/24
Endpoint = {{ network_settings.vpn.endpoint }}
PersistentKeepalive = {{ network_settings.vpn.persistent_keepalive }}
