body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #bdc3c7;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main:has(.overhead) {
    padding-top: 0;
}

main:has(.overfoot) {
    padding-bottom: 0;
    justify-content: space-between;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
}

.server-stats-container {
    display: flex;
    margin: 0 auto;
}

.frame {
    box-shadow:
        0 0 0 2px #3498db,
        0 0 0 4px #ecf0f1;
}

.server-stats {
    /*margin, padding and border-radius should be the same*/
    flex: 0 0 45%;
    max-width: max-content;
    display: block;
    margin: 0 10px -10px;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 10;
    background-color: #ecf0f1;
}

.server-stats h1 {
    color: #333;
    margin: 0 auto;
}

.high-load h1 {
    color: red;
}

.stats-container {
    display: grid;
    gap: 5px;
}

.stats-container div {
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.low-load {
    color: green;
}

.medium-load {
    color:orange;
}

.high-load {
    color: red;
}

.error-message {
    text-align: center;
    padding: 50px 20px;
}

.error-message h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.error-message p {
    font-size: 1.2rem;
    color: #666;
}

.centered-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.overhead {
    list-style-type: none;
    padding: 0;
}

.overfoot {
    padding: 0;
}

.homeland {
    /*margin, padding and border-radius should be the same*/
    text-align: center;
    white-space: pre-line;
    margin: -10px auto 20px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #ecf0f1;
}
