:root {
  --main-padding: 20px;
  --color-primary: #3498db;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

header {
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.overhead a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  outline: 2px solid #ecf0f1;
  background-color: #ecf0f1;
  text-decoration: none;
  color: #333;
}

.overhead a:hover {
  background-color: #bdc3c7;
}

main {
  position: relative;
  flex: 1;
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
}

div.nav {
  position: absolute;
  top: -10px;
  display: flex;
  width: calc(100% - var(--main-padding) * 2);
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

div.nav a:hover {
  background-color: #bdc3c7;
}

div.nav a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  outline: 2px solid #ecf0f1;
  background-color: #ecf0f1;
  text-decoration: none;
  color: #333;
}

main:has(.overhead) {
  padding-top: 0;
}

main:has(.overfoot) {
  padding-bottom: 0;
}

footer {
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

body {
  font-family: Arial, sans-serif;
}

.server-stats-container {
  display: flex;
  margin: 0 auto;
}

.frame {
  border: 2px solid var(--color-primary);
  outline: 2px solid #ecf0f1;
}

.server-stats {
  /*margin, padding and border-radius should be the same*/
  flex: 0 0 45%;
  max-width: max-content;
  display: block;
  margin: 0 10px -10px;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 10;
  background-color: #ecf0f1;
}

.server-stats h1 {
  color: #333;
  margin: 0 auto;
}

.high-load h1 {
  color: red;
}

.stats-container {
  display: grid;
  gap: 5px;
}

.stats-container div {
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.low-load {
  color: green;
}

.medium-load {
  color: orange;
}

.high-load {
  color: red;
}

.error-message {
  text-align: center;
  padding: 50px 20px;
}

.error-message h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.error-message p {
  font-size: 1.2rem;
  color: #666;
}

.centered-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.overhead,
.overfoot {
  padding: 0;
  margin: 0;
  display: flex;
  width: calc(100% - var(--main-padding) * 2);
  flex-wrap: wrap;
  gap: 5px 20px;
  justify-content: center;
}

.overhead {
  top: -10px;
}

.overfoot {
  bottom: -10px;
  position: absolute;
}

.homeland {
  /*margin, padding and border-radius should be the same*/
  text-align: center;
  white-space: pre-line;
  margin: -10px auto 20px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #ecf0f1;
  font-size: 2vw;
}
@media (max-width: 443px) {
  .overfoot,
  .overhead {
    position: initial;
  }
  .overfoot {
    gap: 1rem;
    margin-top: 10px;
  }
}

